# dependencies
node_modules

# playwright
app/test-results/
app/playwright-report/

# electron-builder release artifacts
app/release/

# dist
dist/
dist-electron/
out/
.DS_Store
*.log
.env
licenses/license.json
data/output/
scripts/private_key.pem
*.db
state.json
